<style>	
	.editable-click { 
	  color: inherit;
	  border-bottom: inherit;
	}
	.editable-click:hover { 
	  color: #2a6496 !important;
	  border-bottom-color: inherit;
	  cursor: pointer;
  	  border-radius: 4px;
	  box-shadow: 0 0 5px #2a6496;
	  
	  -webkit-transition: all 0.20s ease-in-out;
	  -moz-transition: all 0.20s ease-in-out;
	  -ms-transition: all 0.20s ease-in-out;
	  -o-transition: all 0.20s ease-in-out;
	  
	  display: inline-block;
	  min-width: 120px;	  
	}
	.detail {
	    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
	    z-index: 1000;
	}
</style>
<div class="detail col-xs-8 col-md-10">
		
	<header class="header">
      <div class="btn-group pull-right">
   		<button class="btn btn-success" ng-click="saveItem()">
		  <i class="fa fa-check" aria-hidden="true"></i>
		</button>
   		<button type="reset" class="btn" ng-click="cancelEdit()">
		  <i class="fa fa-ban" aria-hidden="true"></i>
		</button>
      </div>
    </header>
		
	<section class="object-header fluid-container">
		<section>
			<div class="object-image">
				<i class="fa fa-th"></i>
			</div>
			<div class="object-title">
				<p class="title" editable-text="selectedItem.name">{{selectedItem.boh_name}}</p>
	    		<p class="subtitle" editable-text="selectedItem.description">{{selectedItem.boh_description}}</p>						
			</div>
		</section>
		<section class="object-attributes">
      		<div>
      			<label><i class="fa fa-key"></i></label>
      			<span editable-select="selectedItem.key" e-ng-options="s.value as s.text for s in [{text:'Id', value:'Id'}, {text:'Property 1', value:2}, {text:'Property 2', value:3}]">{{selectedItem.boh_key}}</span>
      		</div>
			<div>
				<label><i class="fa fa-table"></i></label>
      			<span editable-select="selectedItem.table" e-ng-options="s.value as s.text for s in [{text:'TBL_A', value:'TBL_A'}, {text:'TBL_B', value:'TBL_B'}, {text:'TBL_C', value:'TBL_C'}]">{{selectedItem.boh_table}}</span>
      		</div>				      		
		</section>					    		
	</section>
		
	<div class="content">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a ng-click="showProperties()" role="tab" data-toggle="tab">Properties</a></li>
		  <li role="presentation"><a ng-click="showRelationships()" role="tab" data-toggle="tab">Relationships <i class="glyphicon glyphicon-link pull-right"></i></a></li>
		</ul>
	
		<div class="btn-group tab-content-tools pull-left">
	   		<button type="submit" class="btn btn-primary" ng-click="openPropertyEditor()">
			  <i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</div>
		<div class="btn-group tab-content-tools pull-right">
			<div class="inner-addon left-addon">
			    <i class="glyphicon glyphicon-search"></i>	
			    <input type="search" class="quick-search" placeholder="Search" ng-model="searchText"/>
			</div>
		</div>
	
		<div class="tab-content">
		
			<div class="tab-pane fade in active">
				
				<div class="list-group" >
				  <a class="list-group-item selected-{{entry._selected_}}" ng-repeat="entry in selectedItemDetails|filter:searchText|orderBy:'boi_name'">
				  	<div style="display:inline-block">
						<div class="list-item-title"><span class="required" ng-show="boi_nullable">*</span>{{entry.boi_name}} <div ng-show="entry.boi_key" style="display: inline-block"><i class="fa fa-key"></i></div></div>
						<div class="list-item-subtitle">{{entry.boi_type}}</div>						  	
				  	</div>
					<div class="btn-group pull-right">
				   		<button class="btn btn-primary" ng-click="openPropertyEditor(entry)">
						  <i class="fa fa-pencil" aria-hidden="true"></i>
						</button>
						<button class="btn btn-danger" ng-click="deleteProperty(entry)">
						  <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
						</button>
					</div>
				  </a>
				</div>
				
			</div>	
		</div>	
		
	</div>
</div>
<!-- <div ui-view="modal"></div> -->
<script src="js/xeditable.js"></script>