<section>
	<section>
		<ul class="nav nav-pills nav-stacked">
	 		<li role="presentation" ng-class="{active: selectedItem.id===item.id}" ng-repeat="item in items track by item.id">
	 			<a ng-click="selectItem(item)"><i class="fa fa-th-large"></i> {{item.name}} <span ng-click="deleteItem(item.id)" class="glyphicon glyphicon-remove pull-right tools-remove" aria-hidden="true"></span></a>
	 		</li>
		</ul>
	</section>
	
	<footer class="footer">
      <div class="btn-group pull-right">
		<button type="submit" class="btn btn-primary" ng-click="createItem()">
		  <i class="fa fa-plus" aria-hidden="true"></i>
		</button>
		<button type="submit" class="btn btn-primary">
		  <i class="glyphicon glyphicon-filter" aria-hidden="true"></i>
		</button>
      </div>
    </footer>
</section>