<style>
legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
</style>

<div class="detail col-xs-8 col-md-10">
	<header class="header">
      <div class="btn-group">
   		<button type="submit" class="btn btn-primary" ng-click="detailsVm.startEdit()">
		  <i class="fa fa-pencil" aria-hidden="true"></i>
		</button>
   		<button type="submit" class="btn btn-primary" ng-click="detailsVm.duplicateItem()">
		  <i class="fa fa-files-o" aria-hidden="true"></i>
		</button>
		<button class="btn btn-danger" ng-click="detailsVm.deleteItem()">
		  <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
		</button>
      </div>
    </header>

	<section class="object-header fluid-container">
		<section>
			<div class="object-image">
				<i class="fa fa-th"></i>
			</div>
			<div class="object-title">
				<p class="title">{{detailsVm.selectedEntity.boh_name}}</p>
	    		<p class="subtitle">{{detailsVm.selectedEntity.boh_description}}</p>						
			</div>
		</section> 
	</section>
								
	<div class="list-content">	

		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href ng-click="detailsVm.showProperties()" data-target="#properties" aria-controls="properties" role="tab" data-toggle="tab">Properties</a></li>
		  <li role="presentation"><a href ng-click="detailsVm.showRelationships()" data-target="#properties" aria-controls="relationships" role="tab" data-toggle="tab">Relationships <i class="fa fa-chain pull-right"></i></a></li>
		  <li role="presentation"><a href ng-click="detailsVm.showConfig()" data-target="#config" aria-controls="relationships" role="tab" data-toggle="tab">Configuration <i class="fa fa-cog pull-right"></i></a></li>		  
		</ul>
	
		<div class="toolbar btn-group pull-right">
			<div class="inner-addon left-addon">
			    <i class="glyphicon glyphicon-search"></i>	
			    <input type="search" class="quick-search" placeholder="Search" ng-model="searchText"/>
			</div>
		</div>

		<div class="tab-content">
		
			<div class="tab-pane fade in active" role="tabpanel" id="properties">
	
				<div class="items-list">
					<div ng-hide="detailsVm.propertyItems.length" class="nodata-text">No Items</div>
					<div class="list-group">
					  <a class="list-group-item" ng-repeat="entry in detailsVm.propertyItems|filter:searchText|orderBy:['boi_name', 'bor_name']">
						<div class="list-group-item-title">
							<span ng-class="{emphasized: !entry.boi_null}">{{entry.boi_name||entry.bor_name}}</span><i class="fa fa-asterisk required" aria-hidden="true" ng-if="!entry.boi_null"></i>
							<span class="optional" ng-if="entry.boi_null">(optional)</span>
						</div>
						<div class="list-group-item-text" ng-if="entry.boi_type!=='Relationship'">Data Type: <span style="color: gray; font-style: italic">{{entry.boi_type}}<span></div>
						<div class="list-group-item-text" ng-if="entry.bor_type">Relation Type: <span style="color: gray; font-style: italic">{{entry.bor_type==1?'Association':'Composition'}}<span></div>						
					  </a>
					</div>
				</div>	
			</div>
			
			<div class="tab-pane fade out" role="tabpanel" id="config">
				<div class="container">			
					<form class="form-horizontal">
						<div class="row panel panel-default">
						  <div class="panel-heading clearfix">
						    <h3 class="panel-title" style="display: inline-block">Data Structure</h3>
						    <div class="pull-right">[Generation {{detailsVm.selectedEntity.boh_ds_gen_enabled?'Enabled':'Disabled'}}]</div>
						  </div>
						  <div class="panel-body">
							<div class="form-group" ng-if="detailsVm.filterConfigurationEntries(searchText, 'Database Table Name')">
							    <label for="table" class="col-sm-3 control-label" required="true">Database Table Name</label>
							    <div class="col-sm-5">
							    	<p name="table" id="table" class="form-control-static" ng-bind="detailsVm.selectedEntity.boh_table"></p>
							    </div>
							  </div>
							  <div class="form-group" ng-if="detailsVm.filterConfigurationEntries(searchText, 'Entity Identifier Name')">
							    <label for="primaryKey" class="col-sm-3 control-label" required="true">Entity Identifier Name</label>
							    <div class="col-sm-5">
							    	<p name="primaryKey" id="primaryKey" class="form-control-static" ng-bind="detailsVm.selectedEntity.boh_id_name"></p>				    
							    </div>
							  </div>
							  <div class="form-group" ng-if="detailsVm.filterConfigurationEntries(searchText, 'Entity Identifier Data Type')">
							    <label for="primaryKeyType" class="col-sm-3 control-label" required="true">Entity Identifier Data Type</label>
							    <div class="col-sm-5">
							    	<p name="primaryKeyType" id="primaryKeyType" class="form-control-static" ng-bind="detailsVm.selectedEntity.boh_id_datatype_code"></p>				    
							    </div>
							  </div>						  
						  </div>
						</div>
						<div class="row panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title clearifx" style="display: inline-block">Service</h3>
							<div class="pull-right">[Generation {{detailsVm.selectedEntity.boh_svc_gen_enabled?'Enabled':'Disabled'}}]</div>
						  </div>
						  <div class="panel-body">
							<div class="form-group"  ng-if="detailsVm.filterConfigurationEntries(searchText, 'Service Name')">
							  <label for="service" class="col-sm-3 control-label" required="true">Service Name</label>
							  <div class="col-sm-5">
							  	<p name="service" id="service" class="form-control-static" ng-bind="detailsVm.selectedEntity.boh_svc_name"></p>
							  </div>
							</div>						  
						  </div>
						</div>
						<div class="row panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title clearifx" style="display: inline-block">UI</h3>
							<div class="pull-right">[Generation {{detailsVm.selectedEntity.boh_ui_gen_enabled?'Enabled':'Disabled'}}]</div>
						  </div>
						  <div class="panel-body">
							<div class="form-group" ng-if="detailsVm.filterConfigurationEntries(searchText, 'Page Title')">
							  <label for="ui-title" class="col-sm-3 control-label" required="true">Page Title</label>
							  <div class="col-sm-5">
							  	<p name="ui-title" id="ui-title" class="form-control-static" ng-bind="detailsVm.selectedEntity.boh_ui_title"></p>
							  </div>
							</div>						  
						  </div>
						</div>						
					</form>	
				</div>
			</div>
			
		</div>

	</div>
</div>
