<style>
	label[class="has-error"] {
		color: #a94442;
	}
	.rz-tick-legend {
		max-width: 85px !important;
		min-width: 85px !important;
    	font-size: 1.3rem;	
	}
</style>


<div modal="showModal" close="relEditorVm.cancel()" class="modal-box">

	<div class="modal-header">
	    <h4>Edit Relation</h4>
	</div>
	
	<div class="modal-body">
	
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="name" class="col-sm-4 control-label" required="true" readonly>Name</label>
		    <div class="col-sm-7">
		      <input name="name" id="name" class="form-control" placeholder="Type Relationship Name" ng-model="relEditorVm.relation.bor_name" minlength="1">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="item_target_name1" class="col-sm-4 control-label" required="true">Target Object</label>
		    <div class="col-sm-7">
				<input id="item_target_name1" type="text" placeholder="Type to select target object" class="form-control"
					 ng-model="relEditorVm.relation.target" 
					 ng-model-options="{ debounce: 500, blur: 250 }"
					 typeahead-loading="relEditorVm.loading" 
					 typeahead-no-results="relEditorVm.noResults"
					 typeahead-show-hint = "true"
					 typeahead-input-formatter = "relEditorVm.changeTarget(a)"
					 uib-typeahead="target as target.boh_name for target in relEditorVm.matchTargets($viewValue)">
			    <i ng-show="relEditorVm.loading" class="glyphicon glyphicon-refresh"></i>
			    <div ng-show="relEditorVm.noResults">
			      <i class="glyphicon glyphicon-remove" ng-click="relEditorVm.noResults=false"></i> No Results Found
			    </div>
		    </div>
		  </div>
		  <div class="form-group">
	  		<label for="boi_null" class="col-sm-4 control-label">Multiplicity</label>
		    <div class="col-sm-7">
		    	<rzslider rz-slider-model="relEditorVm.slider.value" rz-slider-options="relEditorVm.slider.options"></rzslider>
		    </div>
		  </div>		  
		  <div class="form-group">
	  		<label for="boi_null" class="col-sm-4 control-label">Relation Type</label>
		    <div class="col-sm-7">
		    	<rzslider rz-slider-model="relEditorVm.relTypeSlider.value" rz-slider-options="relEditorVm.relTypeSlider.options"></rzslider>
		    </div>
		  </div>		  
		</form>
	</div>
	
	<div class="modal-footer">
	  <button class="btn btn-success" ng-click="relEditorVm.ok()">OK</button>
	  <button class="btn" ng-click="relEditorVm.cancel()">Cancel</button>
	</div>
	
</div>
