<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Business Objects Definitions</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div ng-include="'header.html'"></div>

	<div id="wrap" ng-controller="ListAndDetailsController">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">Business Objects Definitions</h1>
			</div>
		</div>
		<div class="container">
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>BO ID</th> 
						<th>BO Name</th> 
						<th>BO Table</th> 
						<th>Item ID</th> 
						<th>Item Name</th> 
						<th>Item Column</th> 
						<th>Item Type</th> 
						<th>Item Length</th> 
						<th>Item Null?</th> 
						<th>Item Primary Key?</th> 
						<th>Item Default Value</th> 
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in data" ng-click="showInfoForEntry(entry)">
						<td>{{entry.boh_id}}</td>
						<td>{{entry.boh_name}}</td>
						<td>{{entry.boh_table}}</td>
						<td>{{entry.boi_id}}</td>
						<td>{{entry.boi_name}}</td>
						<td>{{entry.boi_column}}</td>
						<td>{{entry.boi_type}}</td>
						<td>{{entry.boi_length}}</td>
						<td>{{entry.boi_null}}</td>
						<td>{{entry.boi_pk}}</td>
						<td>{{entry.boi_default}}</td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered" ng-show="showEntry">
				<thead>
					<tr>
						<th>Attribute</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody ng-model="selectedEntry">
					<tr>
						<td width="50%">BO ID</td>
						
						<td width="50%">{{selectedEntry.boh_id}}</td>
					<tr>
						<td width="50%">BO Name</td>
						
						<td width="50%">{{selectedEntry.boh_name}}</td>
					<tr>
						<td width="50%">BO Table</td>
						
						<td width="50%">{{selectedEntry.boh_table}}</td>
					<tr>
						<td width="50%">Item ID</td>
						
						<td width="50%">{{selectedEntry.boi_id}}</td>
					<tr>
						<td width="50%">Item Name</td>
						
						<td width="50%">{{selectedEntry.boi_name}}</td>
					<tr>
						<td width="50%">Item Column</td>
						
						<td width="50%">{{selectedEntry.boi_column}}</td>
					<tr>
						<td width="50%">Item Type</td>
						
						<td width="50%">{{selectedEntry.boi_type}}</td>
					<tr>
						<td width="50%">Item Length</td>
						
						<td width="50%">{{selectedEntry.boi_length}}</td>
					<tr>
						<td width="50%">Item Null?</td>
						
						<td width="50%">{{selectedEntry.boi_null}}</td>
					<tr>
						<td width="50%">Item Primary Key?</td>
						
						<td width="50%">{{selectedEntry.boi_pk}}</td>
					<tr>
						<td width="50%">Item Default Value</td>
						
						<td width="50%">{{selectedEntry.boi_default}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('ListAndDetailsController', function ($scope, $http) {
			
			var url = '../../js/bo_modeller/bo_flat_view.js';

			$http.get(url)
			.success(function(data) {
				$scope.data = data;
			});

			$scope.showEntry = false;
			$scope.selectedEntry;

			$scope.showInfoForEntry = function(entry) {
				if ($scope.selectedEntry === entry) {
					$scope.showEntry = false;
					$scope.selectedEntry = null;
				} else {
					$scope.showEntry = true;
					$scope.selectedEntry = entry;
				}
			}
			
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];
		});
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script>
	  $( document ).ready(function() {
	    $.getJSON("main.menu", function(data) {
			$.each(data, function(i, item) {
				var itemContent = "";
				if (item.subMenu.length > 0) {
					itemContent += "<li class=\"dropdown\"><a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\">" + item.name + " <b class=\"caret\"></b></a>";
					itemContent += "<ul class=\"dropdown-menu\">";
					$.each(item.subMenu, function(j, subitem) {
						itemContent += "<li><a href=\"" + subitem.link + "\" >" + subitem.name + "</a></li>";
					});
					itemContent += "</ul>";
				} else {
					itemContent += "<li><a href=\"" + item.link + "\" >" + item.name + "</a>";
				}
				itemContent += "</li>";
				$("#main-menu").append(itemContent);
			});
		});
	  });
	</script>

<div ng-include="'footer.html'"></div>
</body>
</html>
